@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
*{
    font-family: 'Nunito Sans', sans-serif;
    color: #106f96;
    font-size: 15px;
}
body{
    background-color: #fff;
}
table{
	color: #383838;
}
tr:nth-child(even){
	background: #eaeaea;
}
th{
	background: #395062;
	color: #fff;
}
label{
	font-weight: normal;
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.badge-pill{
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 6px;
}
.name-odd, .name-even{
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	margin-top: 4%;
	margin-bottom: 4%;
	padding: 2%;
	border-style: solid;
	border-width: 3px;
	color: #1a2226;
}
.name-even{
	color: #fff;
	border-color: #00a5ba;
	background-color: #00a5ba;
	font-size: 25px;
	padding: 5%;
}
.name-odd{
	color: #fff;
	border-color: #004f64;
	background-color: #004f64;
	font-size: 25px;
	padding: 5%;
}
.form-group{
	margin-left: 2%;
	margin-right: 2%;
}
.title-clients{
	padding-top:17%;
	padding-bottom:3%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #00668f;
}
.confirm{
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	font-size: 15px;
}
.radio{
	margin-left: 3%;
	font-size: 15px;
	color: #383838;
}
#header-menu{
	width: 100%;
	position: fixed;
	top: 0px;
	background-color:rgba(255,255,255,1);
}
#buttons{
	position: fixed;
	top: 1em;
	right: 1em;
}
#menu-meetings, #menu-options{
	margin: 3%;
	margin-top: 25%;
 }
#drinks{
	margin-top: 15%;
}
#menu-options-alcol{
	margin: 1%;
}
#add-user-modal{
	margin-left: 90%;
	font-size: 20px;
}
#info{
	margin-left: 7%;
	margin-top: 3%;
	font-size: 15px;
}
@media screen and (min-width: 650px){	
	#menu-options, #menu-meetings{
		margin-top: 12%;
	}
	.title-clients{
		padding-top:6%;
	}
}